{% extends 'worker/base.html' %}
{% load crispy_forms_filters%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %} <title>Order Details</title> {% endblock title %}
{%block content%}
    <div class="card-deck">
      {% for order in orderlist %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order ID: {{ order.id }}</h5>
          <p class="card-text">Tool Id: {{ order.product_id }}</p>
          <p class="card-text">Quantity: {{ order.quantity }}</p>
          <p class="card-text">Phone no: {{ order.phoneno }}</p>
          <p class="card-text">Status: {{ order.status }}</p>
          <center><a href="{%url 'cancelproductorder' order.id %}" class="btn btn-dark">Cancel</a></center>
        </div>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}