{% extends 'worker/base.html' %}
{% load crispy_forms_filters%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %} <title>requestdetails</title> {% endblock title %}
{%block content%}
    <div class="card-deck">
      {% for job in jobreq %}
      <div class="card">
        {% comment %} <img class="card-img-top" src="{{ tool.toolpic.url }}" alt="Card image cap"> {% endcomment %}
        <div class="card-body">
          <p class="card-text"><b>Request ID:</b>{{ job.id }}</p>
          <p class="card-text">Description: {{ job.description }}</p>
          <p class="card-text">Work duration {{ job.duration }}</p>
          <p class="card-text">Pay/Day: {{ job.payperday }}</p>
          <center><a href="{%url 'acceptjob' id=job.id%}" class="btn btn-success">Accept</a>
          <a href="{%url 'deletejobrequest' job.id%}" class="btn btn-dark">Decline</a>
          </center>
          {% comment %} <center>   
            <a class="btn btn-primary" href="media/{{employer.description}}"> Comany details</a>       
        </center> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}