{%extends 'baseindex.html'%}
{%block content%}
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What is smart farming?</h5>
            <p class="card-text">Smart farming centers on growing farm productivity using technology - hardware and software. Smart farming focuses on managing farms, plantations, and all associated farming activities using IoT, drones, robotics, machinery, and artificial intelligence, to determine a path to predictable farm output.
              Smart Farming is focused on the use of data acquired through various sources (historical, geographical, and instrumental) in the management of farm activities. Technologically advanced doesn’t essentially mean that it is a smart system. 
              Smart agriculture technologies differentiate themselves through their ability to record the data and make sense of it. Smart farming employs hardware (IoT) and software (Software as a Service or SaaS) to capture the data and give actionable insights to manage all the operations on the farm, both pre-and post-harvest. 
              The data is organized, accessible all the time, and full of data on every aspect of finance and field operations that can be monitored from anywhere in the world.</p>
            <a href="" class="btn btn-dark text-light">Back</a>
          </div>
        </div>
      </div>
{%endblock%}