{% extends 'base.html' %}
{% load crispy_forms_filters%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %} <title>workeraccounts</title> {% endblock title %}
{%block content%}
    <div class="card-deck">
      {% for worker in workeracc %}
      <div class="card" width="500" height="500">
        <div class="card-body">
          <h5 class="card-title">{{ worker.workername }}</h5>
          <p class="card-text">{{ worker.phoneno }}</p>
          <p class="card-text">{{ worker.address }}</p>
          <p class="card-text">{{ worker.email }}</p>
          <p class="card-text">{{ worker.occupation }}</p>
          <p class="card-text">{{ worker.experience }}</p>
        <a href="{%url 'approveworker' id=worker.id%}"class="btn btn-success">Approve</a>
        <a href="{%url 'deleteworker' worker.id %}" class="btn btn-dark">Reject</a>
        </div>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}