{% extends 'farmer/base.html' %}
{% load crispy_forms_filters%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %} <title>requestdetails</title> {% endblock title %}
{%block content%}
    <div class="card-deck">
      {% for cust in custreq %}
      <div class="card" style="width:250px;">
        <div class="card-body">
          <p class="card-text">Request Id:{{ cust.id }}</p>
          <p class="card-text">Product Id:{{ cust.product_id }}</p>
          <p class="card-text">Category:{{ cust.pcategory }}</p>
          <p class="card-text">Quantity:{{ cust.quantity }}</p>
          <p class="card-text">Customer id:{{ cust.customer_id_id }}</p>
          <p class="card-text">Contact no:{{ cust.contactno }}</p>
          <p class="card-text">Address:{{ cust.address }}</p>
          <center><a href="{%url 'acceptcustomerrequest' id=cust.id %}" class="btn btn-success">Accept</a>
          <a href="{%url 'deletecustomerrequest' id=cust.id %}" class="btn btn-dark">Decline</a>
          </center>
        </div>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}