{% extends 'seller/base.html' %}
{% load crispy_forms_filters%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %} <title>machinarydetails</title> {% endblock title %}
{%block content%}
    <div class="card-deck">
      {% for tool in toollist %}
      <div class="card">
        <img class="card-img-top" src="{{ tool.pimage.url }}" alt="Card image cap" width="100" height="120">
        <div class="card-body">
          <h5 class="card-title">{{ tool.pname }}</h5>
          <p class="card-text">{{ tool.id }}</p>
          <p class="card-text">{{ tool.pcategory }}</p>
          <p class="card-text">{{ tool.description }}</p>
          <p class="card-text">{{ tool.price }}</p>
          <p class="card-text">{{ tool.status }}</p>
          <center><a href="{%url 'edittoolproduct' tool.id %}" class="btn btn-success">Update</a>
          <a href="{%url 'deletetool' tool.id %}" class="btn btn-dark">Remove</a></center>
          {% comment %} <center>   
            <a class="btn btn-primary" href="media/{{employer.description}}"> Comany details</a>       
        </center> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>
    
{% endblock %}